<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Encryption Efficrater</title>
</head>
<body>
    {% include 'header.html' %}
    <div>
        <h2>Upload new File</h2>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
        </form>
    </div>
    <div>
        <h2>Generate keys for RSA</h2>
        <form method="post" action="/generate_keys">
            <button>Download keys.zip</button>
        </form>
    </div>
    <div>
        <h2>Generate key for AES</h2>
        <form method="post" action="/generate_key">
            <button>Download aes.key</button>
        </form>
    </div>
    <div>
        <h2>Encrypt and upload new File</h2>
        <form method="post" enctype="multipart/form-data" action="/upload">
            Key: <input type="file" name="key">
            {% include 'select.html' %}
            <input type="submit" value="Upload" />
        </form>
    </div>
    {% block uploaded %} {% endblock %}
</body>
</html>